<div class="container pt-3">

    <div class="row justify-content-center pt-3">
        <div class="col-lg-6 col-sm-12">
            <div class="card hover-shadow-lg hover-translate-y-n10 mb-1">
                <div class="card-body px-5">
                    <div class="py-4">
                        <form [formGroup]="anuncioForm">
                            <div class="mb-3">
                                <label for="titulo" class="form-label">
                                    Titulo
                                </label>
                                <input
                                  formControlName="titulo"
                                  type="text"
                                  class="form-control" 
                                  id="titulo"
                                 /> 
                              </div>

                              <div class="mb-3">
                                <label for="descripcion" class="form-label">
                                    Descripcion
                                </label>
                                <input
                                   formControlName="descripcion"
                                   type="text"
                                   class="form-control"
                                   id="descripcion"
                                />
                                
                              </div>
                              <div class="mb-3">
                                <label for="version" class="form-label">
                                     Url Imagen
                                </label>
                                <input
                                   formControlName="imagen"
                                   type="text"
                                   class="form-control"
                                   id="version"
                                />
                            </div>
                              <button
                              (click)="addAnuncio()" 
                               class="btn btn-primary me-1">Add</button>
                           
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>