<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"  [routerLink]="['/']" href="#"  >Angular and Laravel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']" href="#">Home</a>
          <a class="nav-link active" [routerLink]="['/anuncio']"  href="#">Anuncios</a>   
        </div>
      </div>
   </div>
  </nav>
<router-outlet></router-outlet>
