<div class="container pt-3">

    <div class="row justify-content-center pt-3">
        <div class="col-lg-6 col-sm-12">
            <div class="card hover-shadow-lg hover-translate-y-n10 mb-1">
                <div class="card-body px-5">
                    <div class="py-4">
                        <form [formGroup]="appsForm">
                            <div class="mb-3">
                                <label for="titulo" class="form-label">
                                    Titulo
                                </label>
                                <input
                                 formControlName="titulo"
                                  type="text"
                                  class="form-control" 
                                  id="titulo"
                                 /> 
                              </div>

                              <div class="mb-3">
                                <label for="descripcion" class="form-label">
                                    Descripcion
                                </label>
                                <input
                                   formControlName="descripcion" 
                                   type="text"
                                   class="form-control"
                                   id="descripcion"
                                />
                                
                              </div>
                              <div class="mb-3">
                                <label for="version" class="form-label">
                                     Versión
                                </label>
                                <input
                                   formControlName="version" 
                                   type="text"
                                   class="form-control"
                                   id="version"
                                />
                                
                              </div>
                              <label for="tipo" class="form-label">
                                Tipo
                              </label>
                              <div class="mb-3">
                                <select  id="tipo" class="form-select" name="miselect" formControlName="tipo">
                                    <option [value]="item.id" *ngFor="let item of tipos">{{item.tipos_appDESCRIPCION}}</option>
                                </select>
                              </div>

                              <button (click)="addApps()" class="btn btn-primary me-1">Add</button>
                              <button (click)="updateApps()" class="btn btn-info">Edit</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>



        <div class="row justify-content-center pt-3">



            <div class="col-lg-3 col-sm-6 " *ngFor="let item of listApps; index as i;">
                <div class="card hover-shadow-lg hover-translate-y-n10 mb-2">
                    <div class="card-body px-5">
                        <div class="py-4">
                            <div>
                                <div class="row justify-content-center">
                                    <h5 class="text-center">{{item.appTITULO}}</h5>
                                </div>

                                <div class="row justify-content-center">
                                    <h5 class="text-center small">{{item.appDESCRIPCION}}</h5>
                                </div>

                                <div class="row justify-content-center">
                                    <h5 class="text-center">version: {{item.appVERSION}}</h5>
                                </div>

                                <div class="row justify-content-center">
                                    <h5 class="text-center">{{item.appFECHALANZAMIENTO}}</h5>
                                </div>

                                <div class="row justify-content-center">
                                <button (click)="getApp(item.id)" class="btn btn-dark m-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                      </svg>
                                </button>
                                <button  (click)="deleteApps(item.id)" class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                      </svg>
                                </button>
                               
                            </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>